/* Hero Section */
#heroTitle, #heroDesc {color: black}
.line-naire {color: black;}
.scrolled {background-color: rgba(0, 0, 0, 0.2) !important;}
.top100Title, .top100Caption {
  display: flex;
  justify-content: center;
  color: white;
}
.top100Title {font-size:1.5rem}
.top100Caption {font-size:0.81rem}
.top100Cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
    align-items: center;
    max-width: 1080px;
    width: 100%;
    margin: auto;
}
.top100 {width: 33%;padding: 0 1rem; margin-bottom: 2rem;} 
.top100-img, .top100-img img {width:100%}
.top100-tit {line-height: 0;}
.top100-tit h4, .top100-tit p {font-size: 0.81rem; color: white;}

/*detail*/
.naire-detail-container {
  display: flex;
  gap: 20px;
  max-width: 1080px;
  margin: auto;
  margin-top: 72px;
}
.naire-detail-container .gallery {
  display: flex;
  flex: 2;
  align-items: flex-start;
  flex-wrap: wrap;  
}
.naire-detail-container .gallery .thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px; 
}
.naire-detail-container .gallery img {
  max-width: 540px;
  margin: auto;
  margin-top: 0;
  border-radius: 4px;
}
.naire-detail-container .gallery .thumbnails img {
  width: 80px;
  cursor: pointer;
  border: 1px solid transparent;
}
.naire-detail-container .gallery .thumbnails img.active {
  border-color: #333;
}
.naire-detail-container .gallery .thumbnails .gallery-main {
  flex: 1;
  max-width: 720px;
  border: 1px solid #ddd;
}
/*info tabs*/
.naire-detail-container .gallery .info-tabs {
  width: 100%;
}
.info-tabs {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.85rem;
  margin-top: 20px;
  margin-block: 20px  ;
}
.tab-headers {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.tab-button {
  flex: 1;
  background: #4daf51;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.95rem;
}
.tab-button.active {
  background: #90ee90;
  border-bottom: 3px solid #fff;
  color: black;
}
.tab-content {
  display: none;
  padding: 15px;
  background: #ddd;
  border-top: none;
}
.tab-content.active {
  display: block;
}
.tab-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  color: black;
}
.tab-table th,
.tab-table td {
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}
.tab-table th {
  width: 30%;
  background-color: #ddd;
  color: black;
  text-align: left;
  font-weight: bold;
}


/*order form*/
.naire-detail-container .order-form {
  flex: 1;
  background: #fff;
  padding: 20px;
  height: 100%;
  font-size: 0.81rem;
  position: sticky;
  top: 72px;
  right: 0;
  border-radius: 0.5rem;
  box-sizing: 2px 2px 6px black;;
}
.naire-detail-container .order-form h2 { background: #4daf51; color: #fff; margin: -20px -20px 20px; padding: 10px; font-size: 1.1rem; }
.naire-detail-container .order-form label { display: block; margin: 10px 0 5px; }
.naire-detail-container .order-form select, .naire-detail-container .order-form input { width: 100%; padding: 8px; box-sizing: border-box; }
.naire-detail-container .notice { color: #c00; font-size: 0.9rem; margin-top: 5px; }
.naire-detail-container .totals { margin-top: 20px; }
.naire-detail-container .totals div { display: flex; justify-content: space-between; margin-bottom: 5px; }
.naire-detail-container .totals .amount { font-size: 1.2rem; color: #c00; }

/*FORM*/
#closeFormOrderMobile {display: none;}
.order-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.order-button:hover {
  background-color: #45a049;
}
.order-form-container {
  margin-top: 20px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 0.81rem;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-buttons button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}
.form-buttons button[type="submit"]:hover {
  background-color: #45a049;
}
.form-buttons button[type="button"] {
  background-color: #f44336;
  color: white;
}
.form-buttons button[type="button"]:hover {
  background-color: #d32f2f;
}

  /* Breadcrumbs */
.breadcrumb {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 0.81rem;
  color: black;
  z-index: 1;
}
.breadcrumb a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb span {
  margin: 0 5px;
}

  /* Mobile Responsiveness */
  @media screen and (max-width: 768px) {
    /*detail*/
    .naire-detail-container {}
    .naire-detail-container .gallery {}
    .naire-detail-container .gallery .thumbnails {flex-direction: row;}
    .naire-detail-container .gallery img {width: 100%;}
    .naire-detail-container .gallery .thumbnails img, .naire-detail-container .gallery .thumbnails img.active {width: 18%;}
    .naire-detail-container .gallery .thumbnails .gallery-main {}
    /*info tabs*/
    .naire-detail-container .gallery .info-tabs {}
    .info-tabs {}
    .tab-headers {}
    .tab-button,.tab-button.active,.tab-content,.tab-content.active {font-size: 0.81rem;}
    .tab-table {}
    .tab-table th, .tab-table td {}
    .tab-table th {}


    /*order form*/
    #closeFormOrderMobile {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      background-color: tomato; 
      color: white; 
      border: none; 
      cursor: pointer; 
      padding: 8px 12px; 
      border-radius: 4px; 
      font-weight: bold;
    }
    .naire-detail-container .order-form {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      overflow-y: scroll;
      z-index: 100;
      padding-bottom: 144px;
    }
    .naire-detail-container .order-form h2 { background: #4daf51; color: #fff; margin: -20px -20px 20px; padding: 10px; font-size: 1.1rem; }
    .naire-detail-container .order-form label { display: block; margin: 10px 0 5px; }
    .naire-detail-container .order-form select, .naire-detail-container .order-form input { width: 100%; padding: 8px; box-sizing: border-box; }
    .naire-detail-container .notice { color: #c00; font-size: 0.9rem; margin-top: 5px; }
    .naire-detail-container .totals { margin-top: 20px; }
    .naire-detail-container .totals div { display: flex; justify-content: space-between; margin-bottom: 5px; }
    .naire-detail-container .totals .amount { font-size: 1.2rem; color: #c00; }

    /*FORM*/
    .order-button {}
    .order-button:hover {}
    .order-form-container {}
    .form-group {}
    .form-group label {}
    .form-group input {}
    .form-buttons {}
    .form-buttons button {}
    .form-buttons button[type="submit"] {}
    .form-buttons button[type="submit"]:hover {}
    .form-buttons button[type="button"] {}
    .form-buttons button[type="button"]:hover {}
  }
  